name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: Swatinem/rust-cache@v1

    - name: Update package manager
      run: sudo apt-get update

    - name: Install dependencies
      run: sudo apt-get install -y libsfml-dev libcsfml-dev libasound2-dev libudev-dev

    - name: Build library
      run: cargo build --lib --verbose

    - name: Run tests
      run: cargo test --verbose
